
html{
    --color-primary: black;
    --color-primary-contrast: white;
    --color-text-primary: black;
    --color-text: white;
}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--color-text-primary);
    margin: 0%;
}

h1{
    text-align: center;
    font-size: 45px;
    color: var(--color-text);
}

h3{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #459A7D;
}

li{
    list-style: none;
}
.banner__cover{
    background-image: url("../images/foret.jpg");
    background-size: cover;
    padding: 10px;
}

button{
    background: #54e695;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    border-radius: 30px;
    font-family: 'Rubik';
}

button a {
    color: var(--color-text);
}

form{
    display:flex;
    flex-direction:column;
}

.header__hero--unstyled {
    list-style-type: none;
    text-decoration: none;
}

.header__info--login{
    color: green;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
