
html{
    --color-primary: black;
    --color-primary-contrast: white;
    --color-text-primary: black;
    --color-text: white;

}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--color-text-primary);
}

form{
    display:flex;
    flex-direction:column;
}

.header__hero--unstyled {
    list-style-type: none;
    text-decoration: none;
}

.header__info--login{
    color: green;
}